html, body {
    margin:0;
    padding:0;
    height:100%;
}
#container {
    min-height:100%;
    position:relative;
}
#header {
    background:#333032;
    padding:0px;
    opacity: 0.8;
}
#middle {
    padding:10px;
    padding-bottom:60px;	/* Wysokość nagłówka */
}
#footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:30px;		/* Wysokość nagłówka */
    background:#333032;
}
body {
    background-color: black;
    color: white;
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}
